apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  namespace: umbrella-storage
  labels:
    app: elasticsearch
spec:
  type: ClusterIP
  selector:
    app: elasticsearch
  ports:
    - name: api
      port: 9200
      targetPort: 9200
    - name: transport
      port: 9300
      targetPort: 9300

---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-headless
  namespace: umbrella-storage
  labels:
    app: elasticsearch
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app: elasticsearch
  ports:
    - name: api
      port: 9200
      targetPort: 9200
    - name: transport
      port: 9300
      targetPort: 9300
