apiVersion: v1
kind: Service
metadata:
  name: logstash
  namespace: umbrella-storage
  labels:
    app: logstash
spec:
  type: ClusterIP
  selector:
    app: logstash
  ports:
    - name: monitoring
      port: 9600
      targetPort: 9600
