- pipeline.id: messages
  path.config: "/usr/share/logstash/pipeline/messages.conf"
  pipeline.workers: 2
  pipeline.batch.size: 500

- pipeline.id: alerts
  path.config: "/usr/share/logstash/pipeline/alerts.conf"
  pipeline.workers: 1
  pipeline.batch.size: 250
